
canvas {
  display: block;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  background-color: black; overflow: hidden; height: 100%; width: : 100%;
}


/*

4A5459

*/


body {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#666666+0,222222+100;Grey+3D+%231 */
  background: #667777; /* Old browsers */
  background: -moz-linear-gradient(top, #667777 0%, #223333 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #667777 0%,#223333 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #667777 0%,#223333 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#667777', endColorstr='#223333',GradientType=0 ); /* IE6-9 */

}

/* hide dat.gui at load */ 
.dg.ac {
  display: none;
}

.interface, .panels, .labels, .preload {
  position: absolute;
  top: 0;
  left: 0;
}

.preload img {
  display: none;
}

.interface * {
  /*display:none;*/
}

.fullscreen {
  width: 100%;
  height: 100%;
  background: linear-gradient(166deg, #3e3e3e, #101010);
  position: absolute;
}

.label.sun {
  background-color: rgba(200, 200, 200, 0.8);
  border-radius: 3px;
  border: 2px solid rgba(200,200,200, 0.8);
  color: #333;
  font-family: monospace;
  font-size: 10px;
  font-weight: 800;
  overflow-x: hidden;
  padding: 2px 2px 1px 4px;
  position: absolute;
  white-space: nowrap;
}
  
.panel.latlon {
  background-color: rgba(200, 200, 200, 0.2);
  color: white;
  font-family: monospace;
  font-size:  10px;
  overflow-x: hidden;
  position: absolute;
  top: 48px;
  white-space: nowrap;
  width: 80px;
}

.panel.image {
  background-color: rgba(200, 200, 200, 0.2);
  border: 0;
  bottom: 20px;
  display: none;
  height: 180px;
  left: 20px;
  position: absolute;
  width: 360px;
  z-index: 1;
}

.panel.info {
  background-color: #ffff00;
  background-repeat: no-repeat;
  background-size: 10%; 
  /*background: url(images/black.32.png);*/
  bottom: 0px;
  color: #eee;
  font-family: sans-serif;
  font-size: 12px;
  left: 0px;
  max-height: 5%;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-top: 4px;
  position: absolute;
  vertical-align: middle;
  width: 100%;
}

canvas.panel.test {
  background-color: rgba(26, 88, 40, 0.7);
  height: 48px;
  left: 96px;
  position: absolute;
  top: 0px;
  width: 96px;
}

canvas.panel.expi {
  background-color: rgba(40, 0, 0, 0.2);
  display: none;
  height: 48px;
  left: 208px;
  position: absolute;
  top: 0px;
  width: 96px;
}

div.panel.chart.container {
  background-color: rgba(80, 0, 0, 0.5);
  display: none;
  height: 256px;
  left: 18px;
  position: absolute;
  top: 90px;
  width: 128px;
  z-index: 10;
}

h1 {
  color: #eee;
  font-family: monospace;
  font-weight: 800;
  font-size: 24px;
  margin-bottom: 12px;
}

h3 {
  color: #eee;
  font-family: monospace;
  font-weight: 800;
  font-size: 16px
}

table.loader {
  /*background-color: #444;*/
  color: white;
  font-family: monospace;
  height: 100%;
  position: absolute;
  width:  100%;


}

table.loader .version {
  font-family: monospace;
  font-size: 11px;
  padding-top: 12px;
  color: #a59a7a;
}

table.loader .title {
  font-size: 24px;
  text-align:center; 
  vertical-align:bottom;
  height: 40%;
  padding-bottom: 12px;
}
table.loader .progress {
  font-size: 20px;
  text-align:center; 
  vertical-align:top;
  height: 30%;
  overflow: hidden;
}

table.loader .progress .header {
  font-size: 18px;
  text-align:center; 
  vertical-align:middle;
  margin-bottom: 12px;
  background-color: #807272;
  padding: 12px;
}
table.loader .progress .info {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  /*width: 100%;*/
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
  margin: 0 12px 6px 12px;
}
table.loader .progress .bar {
  font-family: monospace;
  font-size: 12px;
  margin-bottom: 12px;
}
table.loader .progress .meter {

  height: 12px;
  width: 0.1%;

  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;

  background-color: rgb(185, 185, 185);
  background-image: linear-gradient(
    center bottom,
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
  );
  box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
}

table.loader .btnFullscreen {
  margin-top: 24px;
}

table.loader .error {
  font-size: 24px;
  text-align:center; 
  vertical-align:top;
  height: 30%;
}

table.loader .error .header  {
  color: #a70a0a; 
  font-weight: 800;
}
table.loader .error .message {
  color: #fd5959; 
  font-size: 16px;
}

a, 
a:visited, 
a:link,
a:visited,
a:focus,
a:active {
  color: #eee;
  text-decoration: none;
}

a:hover {
  color: #fff;
}

#homelink {
  color: #ff9d00;
}
#arcticio {
  color: #ff9d00;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}