
canvas {
  display: block;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  background-color: black;
}

/* hide dat.gui at load */ 
.dg.ac {
  display: none;
}

.interface, .panels, .labels, .preload {
  position: absolute;
  top: 0;
  left: 0;
}

.preload img {
  display: none;
}

.interface * {
  display:none;
}

.fullscreen {
  width: 100%;
  height: 100%;
  background: linear-gradient(166deg, #3e3e3e, #101010);
  position: absolute;
}

.label.sun {
  background-color: rgba(200, 200, 200, 0.8);
  border-radius: 3px;
  border: 2px solid rgba(200,200,200, 0.8);
  color: #333;
  font-family: monospace;
  font-size: 10px;
  font-weight: 800;
  overflow-x: hidden;
  padding: 2px 2px 1px 4px;
  position: absolute;
  white-space: nowrap;
}
  
.panel.latlon {
  background-color: rgba(200, 200, 200, 0.2);
  color: white;
  font-family: monospace;
  font-size:  10px;
  overflow-x: hidden;
  position: absolute;
  top: 48px;
  white-space: nowrap;
  width: 80px;
}

.panel.image {
  background-color: rgba(200, 200, 200, 0.2);
  border: 0;
  bottom: 20px;
  display: none;
  height: 180px;
  left: 20px;
  position: absolute;
  width: 360px;
  z-index: 1;
}

.panel.info {
  background-color: #ffff00;
  background-repeat: no-repeat;
  background-size: 10%; 
  /*background: url(images/black.32.png);*/
  bottom: 0px;
  color: #eee;
  font-family: sans-serif;
  font-size: 12px;
  left: 0px;
  max-height: 5%;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-top: 4px;
  position: absolute;
  vertical-align: middle;
  width: 100%;
}

canvas.panel.test {
  background-color: rgba(26, 88, 40, 0.7);
  height: 48px;
  left: 96px;
  position: absolute;
  top: 0px;
  width: 96px;
}

canvas.panel.expi {
  background-color: rgba(40, 0, 0, 0.2);
  display: none;
  height: 48px;
  left: 208px;
  position: absolute;
  top: 0px;
  width: 96px;
}

h1 {
  color: #eee;
  font-family: monospace;
  font-weight: 800;
  font-size: 24px;
  margin-bottom: 12px;
}

h3 {
  color: #eee;
  font-family: monospace;
  font-weight: 800;
  font-size: 16px
}

table.loader {
  background-color: #000;
  color: white;
  font-family: monospace;
  height: 100%;
  position: absolute;
  width:  100%;

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#666666+0,222222+100;Grey+3D+%231 */
background: #666666; /* Old browsers */
background: -moz-linear-gradient(top, #666666 0%, #222222 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #666666 0%,#222222 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #666666 0%,#222222 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#222222',GradientType=0 ); /* IE6-9 */

}

table.loader .title {
  font-size: 24px;
  text-align:center; 
  vertical-align:middle;
  height: 40%;
}
table.loader .progress {
  font-size: 20px;
  text-align:center; 
  vertical-align:top;
  height: 30%;
}
table.loader .progress .header {
  font-size: 18px;
  text-align:center; 
  vertical-align:middle;
}
table.loader .progress .info {
  font-weight: 800;
}
table.loader .progress .bar {
  font-family: monospace;
  font-size: 24px;
}

table.loader .error {
  font-size: 24px;
  text-align:center; 
  vertical-align:top;
  height: 30%;
}

table.loader .error .header  {
  color: #a70a0a; 
  font-weight: 800;
}
table.loader .error .message {
  color: #fd5959; 
  font-size: 16px;
}

a, 
a:visited, 
a:link,
a:visited,
a:focus,
a:active {
  color: #eee;
  text-decoration: none;
}

a:hover {
  color: #fff;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}