# Google App Engine generated folder
appengine-generated/

stuff/
docs/
node_modules/

data/*.nc
data/*.dods
data/*.hdf
data/*.zip

xml/*.sh
xml/*.zip
xml/*.png
xml/*.jpg
xml/*.tiff
xml/*.tif
xml/*tmp.xml
xml/*aux.xml

images/sources
