
/stuff.txt
/http-8765.sh
/npm-debug.log
/deploy.sh
/pitch.md

stuff/
doc/
node_modules/
support/

data/*.nc
data/*.hdf
data/*.zip

images/tmp
images/sources
images/.ipynb_checkpoints

dist/images
dist/js
dist/css
dist/data

## git rm --cached FILENAME
