# Google App Engine generated folder
appengine-generated/
google_appengine/

/stuff.txt
/http-8765.sh
/npm-debug.log
.eslintrc

compiler/
stuff/
doc/
node_modules/
data_old/

data/*.nc
data/*.hdf
data/*.zip

images/tmp
images/sources
images/.ipynb_checkpoints

## git rm --cached FILENAME
