* {
  box-sizing: border-box;
  margin :0;
  padding: 0;
}
html {
  height: 100%;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body {
  margin: 0;
  padding: 0;
  background-color: #202020;
  color: #ffffff;
  line-height: 1.4em;
  height: 100%;
  overflow: hidden;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 100;
  text-shadow: 0 1px 0 rgba(0,0,0,1);
}
#container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
#info{
  position: absolute;
  left: 20px;
  top: 20px;
  max-width: 400px;
  height: 100%;
  overflow: auto;
  pointer-events: none;
}
#info a, .action{
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  pointer-events: auto;
  font-weight: 700;
}